
<%if(!searchMenuData.isReady) { %>
<div id="<%=searchMenuData.id%>" class="search-menu" style="display: none;">
<% } %>

    <%if(searchMenuData.isShowHeader) { %>
        <div class="search-menu-header">
            最近搜索
        </div>
    <% } %>

    <div class="search-menu-content">
        <% searchMenuData.recommendKeywordDataList.forEach(function(data) { %>
            <div class="search-item">
                <%=data.keywordHtml%>
            </div>
        <% }) %>
    </div>

    <%if(searchMenuData.isShowFooter) { %>
        <div class="search-menu-footer">
            关闭
        </div>
    <% } %>

<%if(!searchMenuData.isReady) { %>
</div>
<% } %>